.Collapsible {
    max-width: 1080px;
}

.Collapsible__trigger {
    padding-left: 10px;
    padding-right: 82%;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.Collapsible__contentOuter {
    color: rgb(50, 50, 50);
    margin: 15px;
    width: 94%;
}

.Collapsible__contentInner {
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(84, 84, 84);
    /* background-color: greenyellow; */
}